[data-has-tooltip] {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 0.167rem dashed #b4e7f8;
  cursor: help;
}
[data-tooltip],
[data-tooltip]:after {
  visibility: hidden;
  position: absolute;
  left: 50%;
  box-sizing: inherit;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
[data-tooltip] {
  bottom: 100%;
  padding: 0.167rem 0.556rem;
  border-radius: 0.167rem;
  background-color: #222;
  color: #FFF;
  white-space: nowrap;
  font-size: 0.778rem;
}
[data-tooltip]:after {
  content: "";
  top: 100%;
  border: 0.278rem solid transparent;
  border-top: 0.278rem solid #222;
  margin-bottom: -0.556em;
}
[data-has-tooltip]:hover [data-tooltip],
[data-has-tooltip]:hover [data-tooltip]:after,
[data-has-tooltip]:active [data-tooltip],
[data-has-tooltip]:active [data-tooltip]:after {
  visibility: visible;
}
